<div class="drawer is-hidden">
    <div class="drawer-handle">
        <a class="drawer-handle--icon">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>